.App {
  text-align: center;
   height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      'header'
      'body';
}

.header {
  padding: 2em;
  margin-left: 5em;
  margin-right: 5em;
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 10% 50% 20%;
  grid-template-areas:
      'menu search form more';
  border-bottom: 1px #3F7FBF solid;
}

.header .search {
  grid-area: search;
  justify-self: right;
  align-self: center;
  padding: 0;
  margin: 0;
}

.label {
  font-family: sans-serif;
  color: grey;
  font-weight: 100;
}

.header .menu {
  grid-area: menu;
  align-self: center;
  justify-self: left;
   border: 2px #3F7FBF solid;
  border-radius: 100%;
  padding: 0.1em;
}

.header .form {
  grid-area: form;
  align-self: center;
  justify-self: left;
text-align: left;
border-bottom: 1px lightgrey solid;
width: 100%;
 padding: 0;
  margin: 0;
}

.input {
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  font-size: 1.5em;
}

.input:focus {
  border: none;
  outline: none;
}


.header .more {
  grid-area: more;
   align-self: center;
  justify-self: right;
  border: 2px #3F7FBF solid;
  border-radius: 100%;
  padding: 0.1em;
}

.react-icons {
  color:#3F7FBF;
   vertical-align: middle;
   font-size: 2em;
}
