.App {
  text-align: center;
   height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      'header'
      'body';
}

.header {
  padding: 2em;
  grid-area: header;
  display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
      'menu form more';
}

.header .menu {
  grid-area: menu;
  align-self: center;
  justify-self: center;
   border: 2px #3F7FBF solid;
  border-radius: 100%;
  padding: 0.1em;
}

.header .form {
  grid-area: form;
   align-self: center;
  justify-self: center;
}

.header .more {
  grid-area: more;
   align-self: center;
  justify-self: center;
  border: 2px #3F7FBF solid;
  border-radius: 100%;
  padding: 0.1em;
}

.react-icons {
  color:#3F7FBF;
   vertical-align: middle;
   font-size: 2em;
}
